<!DOCTYPE html>
<div id="interface">
  <div id="openHide" class="open">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
  <div id="input">
    <div id="menu">
      <div id="menu-edit-top" class="unselectable-text menu-item menu-selected">
        <p>Rediger</p>
      </div>
      <div id="menu-view-top" class="unselectable-text menu-item">
        <p>DTU lag</p>
      </div>
    </div>
    <div id="menu-edit-main" class="main theme">
      <div id="editLayer">
        <div id="editButtons">
          <p class="title">Opret</p>
          <div ref="byggeri" class="unselectable-text addGeometry"><p>Byggeri</p></div>
          <div ref="byggeplads" class="unselectable-text addGeometry"><p>Byggeplads</p></div>
          <div ref="parkering" class="unselectable-text addGeometry"><p>Parkering</p></div>
          <div ref="adgangsvej" class="unselectable-text addGeometry"><p>Adgangsveje</p></div>
        </div>
        <div id="snapping" class="on unselectable-text">
          <p>Snap</p>
        </div>
      </div>
    </div>
    <div id="menu-view-main" class="theme">
      <div id="wfsLayers">
        <ul id="layers"></ul>
      </div>
    </div>
  </div>
  <div id="map">
    <div id="bygID">
      <p>Intet ID</p>
    </div>
  </div>
</div>

<script>
  init();
</script>
