<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{{title}}}</title>

  <link rel="icon" href="images/DTU32.ico">
  <link rel="stylesheet" type="text/css" href="stylesheets/general.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/table.css">

  <!-- leaflet -->
  <!-- leafletJS: Copyright (c) 2010-2016, Vladimir Agafonkin -->
  <script src="javascripts/leaflet.js"></script>
  <script src="javascripts/leaflet.GeometryUtil.js"></script>
  <script src="javascripts/leaflet.snap.js"></script>
  <script src="javascripts/custom/snapFile.js"></script>
  <script src="javascripts/leaflet.path.drag.js"></script>
  <script src="javascripts/leaflet.editable.js"></script>
  <script src="javascripts/leaflet.edgeBuffer.js"></script>
  <script src="javascripts/leaflet.fade.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/leaflet-theme.css">

  <!-- jQuery -->
  <script src="javascripts/jquery-3.1.1.min.js"></script>

  <!-- proj4 -->
  <script src="javascripts/proj4-2.3.15.js"></script>

  <!-- custom -->
  <script src="javascripts/custom/init.js"></script>
  <script src="javascripts/custom/DB.js"></script>
  <script src="javascripts/custom/standardFunctions.js"></script>
  <script src="javascripts/custom/interface.js"></script>
  <script src="javascripts/custom/infoPanel.js"></script>
  <script src="javascripts/custom/gmlParser.js"></script>

  <!-- custom fonts -->
  <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
    {{{body}}}
</html>
